<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://julesseg.github.io/Quickie/builds/pr-24/quickie.ipa</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.julesseguin.quickie</string>
                <key>bundle-version</key>
                <string>a32cc0f</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Forgiving layout-adaptive matcher (#4)</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
